@using System.Web.Optimization

@Styles.Render("~/Bundle/sass")

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>

        .list-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
        }

        .list-group-item-action {
            width: 100%;
            color: #495057;
            text-align: inherit;
        }

            .list-group-item-action:focus, .list-group-item-action:hover {
                color: #495057;
                text-decoration: none;
                background-color: #f8f9fa;
            }

            .list-group-item-action:active {
                color: #212529;
                background-color: #e9ecef;
            }

        .list-group-item {
            position: relative;
            display: block;
            padding: 0.75rem 1.25rem;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.125);
        }

            .list-group-item:first-child {
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }

            .list-group-item:last-child {
                margin-bottom: 0;
                border-bottom-right-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }

            .list-group-item:focus, .list-group-item:hover {
                z-index: 1;
                text-decoration: none;
            }

            .list-group-item.disabled, .list-group-item:disabled {
                color: #868e96;
                background-color: #fff;
            }

            .list-group-item.active {
                z-index: 2;
                color: #fff;
                background-color: #007bff;
                border-color: #007bff;
            }

        .list-group-flush .list-group-item {
            border-right: 0;
            border-left: 0;
            border-radius: 0;
        }

        .list-group-flush:first-child .list-group-item:first-child {
            border-top: 0;
        }

        .list-group-flush:last-child .list-group-item:last-child {
            border-bottom: 0;
        }

        .list-group-item-primary {
            color: #004085;
            background-color: #b8daff;
        }

        a.list-group-item-primary,
        button.list-group-item-primary {
            color: #004085;
        }

            a.list-group-item-primary:focus, a.list-group-item-primary:hover,
            button.list-group-item-primary:focus,
            button.list-group-item-primary:hover {
                color: #004085;
                background-color: #9fcdff;
            }

            a.list-group-item-primary.active,
            button.list-group-item-primary.active {
                color: #fff;
                background-color: #004085;
                border-color: #004085;
            }

        .list-group-item-secondary {
            color: #464a4e;
            background-color: #dddfe2;
        }

        a.list-group-item-secondary,
        button.list-group-item-secondary {
            color: #464a4e;
        }

            a.list-group-item-secondary:focus, a.list-group-item-secondary:hover,
            button.list-group-item-secondary:focus,
            button.list-group-item-secondary:hover {
                color: #464a4e;
                background-color: #cfd2d6;
            }

            a.list-group-item-secondary.active,
            button.list-group-item-secondary.active {
                color: #fff;
                background-color: #464a4e;
                border-color: #464a4e;
            }

        .list-group-item-success {
            color: #155724;
            background-color: #c3e6cb;
        }

        a.list-group-item-success,
        button.list-group-item-success {
            color: #155724;
        }

            a.list-group-item-success:focus, a.list-group-item-success:hover,
            button.list-group-item-success:focus,
            button.list-group-item-success:hover {
                color: #155724;
                background-color: #b1dfbb;
            }

            a.list-group-item-success.active,
            button.list-group-item-success.active {
                color: #fff;
                background-color: #155724;
                border-color: #155724;
            }

        .list-group-item-info {
            color: #0c5460;
            background-color: #bee5eb;
        }

        a.list-group-item-info,
        button.list-group-item-info {
            color: #0c5460;
        }

            a.list-group-item-info:focus, a.list-group-item-info:hover,
            button.list-group-item-info:focus,
            button.list-group-item-info:hover {
                color: #0c5460;
                background-color: #abdde5;
            }

            a.list-group-item-info.active,
            button.list-group-item-info.active {
                color: #fff;
                background-color: #0c5460;
                border-color: #0c5460;
            }

        .list-group-item-warning {
            color: #856404;
            background-color: #ffeeba;
        }

        a.list-group-item-warning,
        button.list-group-item-warning {
            color: #856404;
        }

            a.list-group-item-warning:focus, a.list-group-item-warning:hover,
            button.list-group-item-warning:focus,
            button.list-group-item-warning:hover {
                color: #856404;
                background-color: #ffe8a1;
            }

            a.list-group-item-warning.active,
            button.list-group-item-warning.active {
                color: #fff;
                background-color: #856404;
                border-color: #856404;
            }

        .list-group-item-danger {
            color: #721c24;
            background-color: #f5c6cb;
        }

        a.list-group-item-danger,
        button.list-group-item-danger {
            color: #721c24;
        }

            a.list-group-item-danger:focus, a.list-group-item-danger:hover,
            button.list-group-item-danger:focus,
            button.list-group-item-danger:hover {
                color: #721c24;
                background-color: #f1b0b7;
            }

            a.list-group-item-danger.active,
            button.list-group-item-danger.active {
                color: #fff;
                background-color: #721c24;
                border-color: #721c24;
            }

        .list-group-item-light {
            color: #818182;
            background-color: #fdfdfe;
        }

        a.list-group-item-light,
        button.list-group-item-light {
            color: #818182;
        }

            a.list-group-item-light:focus, a.list-group-item-light:hover,
            button.list-group-item-light:focus,
            button.list-group-item-light:hover {
                color: #818182;
                background-color: #ececf6;
            }

            a.list-group-item-light.active,
            button.list-group-item-light.active {
                color: #fff;
                background-color: #818182;
                border-color: #818182;
            }

        .list-group-item-dark {
            color: #1b1e21;
            background-color: #c6c8ca;
        }

        a.list-group-item-dark,
        button.list-group-item-dark {
            color: #1b1e21;
        }

            a.list-group-item-dark:focus, a.list-group-item-dark:hover,
            button.list-group-item-dark:focus,
            button.list-group-item-dark:hover {
                color: #1b1e21;
                background-color: #b9bbbe;
            }

            a.list-group-item-dark.active,
            button.list-group-item-dark.active {
                color: #fff;
                background-color: #1b1e21;
                border-color: #1b1e21;
            }
    </style>
</head>

<body>

    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div id="searchView" class="search">
                <form class="form">
                    <div class="form-group">
                        <input type="text" id="search" onkeyup="changeInput(this.value)" class="form-control form-control-lg" placeholder="Search">
                    </div>
                    <div id="result" class="list-group"></div>
                </form>
            </div>
            <ul id="addedPeople" class="list"> </ul>
        </div>

        <input type="text" id="currentUserId" onkeyup="changeInput(this.value)" style="display: none;" value=@ViewBag.SubjectId>

        <div class="chat">
            <div class="chat-header clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

                <div class="chat-about">
                    <div class="chat-with">Chat with Vincent Porter</div>
                    <div class="chat-num-messages">already 1 902 messages</div>
                </div>
                <i class="fa fa-star"></i>
            </div> <!-- end chat-header -->

            <div class="chat-history">
                <ul id="chatHistory">
                    <li class="clearfix">
                        <div class="message-data align-right">
                            <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
                            <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>

                        </div>
                        <div class="message other-message float-right">
                            Hi Vincent, how are you? How is the project coming along?
                        </div>
                    </li>

                    <li>
                        <div class="message-data">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                        </div>
                        <div class="message my-message">
                            Are we meeting today? Project has been already finished and I have results to show you.
                        </div>
                    </li>

                    <li class="clearfix">
                        <div class="message-data align-right">
                            <span class="message-data-time">10:14 AM, Today</span> &nbsp; &nbsp;
                            <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>

                        </div>
                        <div class="message other-message float-right">
                            Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                        </div>
                    </li>

                    <li>
                        <div class="message-data">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:20 AM, Today</span>
                        </div>
                        <div class="message my-message">
                            Actually everything was fine. I'm very excited to show this to our team.
                        </div>
                    </li>

                    <li>
                        <div class="message-data">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:31 AM, Today</span>
                        </div>
                        <i class="fa fa-circle online"></i>
                        <i class="fa fa-circle online" style="color: #AED2A6"></i>
                        <i class="fa fa-circle online" style="color:#DAE9DA"></i>
                    </li>

                </ul>

            </div> <!-- end chat-history -->

            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>
                <input type="text" id="recieverId" >
                <input type="text" id="chatRoomId" >

                <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-file-image-o"></i>

                <button id="messageSendBtn">Send</button>

            </div> <!-- end chat-message -->

        </div> <!-- end chat -->

    </div> <!-- end container -->

    <script id="message-template" type="text/x-handlebars-template">
        <li class="clearfix">
            <div class="message-data align-right">
                <span class="message-data-time">{{time}}, Today</span> &nbsp; &nbsp;
                <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
                {{messageOutput}}
            </div>
        </li>
    </script>

    <script id="message-response-template" type="text/x-handlebars-template">
        <li>
            <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                <span class="message-data-time">{{time}}, Today</span>
            </div>
            <div class="message my-message">
                {{response}}
            </div>
        </li>
    </script>

    <script src="~/js/vanilla_tilt.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        (function () {

            var chat = {
                messageToSend: '',
                messageResponses: [
                    'Why did the web developer leave the restaurant? Because of the table layout.',
                    'How do you comfort a JavaScript bug? You console it.',
                    'An SQL query enters a bar, approaches two tables and asks: "May I join you?"',
                    'What is the most used language in programming? Profanity.',
                    'What is the object-oriented way to become wealthy? Inheritance.',
                    'An SEO expert walks into a bar, bars, pub, tavern, public house, Irish pub, drinks, beer, alcohol'
                ],
                init: function () {
                    this.cacheDOM();
                    this.bindEvents();
                    this.render();
                },
                cacheDOM: function () {
                    this.$chatHistory = $('.chat-history');
                    this.$button = $('button');
                    this.$textarea = $('#message-to-send');
                    this.$chatHistoryList = this.$chatHistory.find('ul');
                },
                bindEvents: function () {
                    this.$button.on('click', this.addMessage.bind(this));
                    this.$textarea.on('keyup', this.addMessageEnter.bind(this));
                },
                render: function () {
                    this.scrollToBottom();
                    if (this.messageToSend.trim() !== '') {
                        var template = Handlebars.compile($("#message-template").html());
                        var context = {
                            messageOutput: this.messageToSend,
                            time: this.getCurrentTime()
                        };

                        this.$chatHistoryList.append(template(context));
                        this.scrollToBottom();
                        this.$textarea.val('');

                        // responses
                        var templateResponse = Handlebars.compile($("#message-response-template").html());
                        var contextResponse = {
                            response: this.getRandomItem(this.messageResponses),
                            time: this.getCurrentTime()
                        };

                        setTimeout(function () {
                            this.$chatHistoryList.append(templateResponse(contextResponse));
                            this.scrollToBottom();
                        }.bind(this), 1500);

                    }

                },

                addMessage: function () {
                    this.messageToSend = this.$textarea.val()
                    this.render();
                },
                addMessageEnter: function (event) {
                    // enter was pressed
                    if (event.keyCode === 13) {
                        this.addMessage();
                    }
                },
                scrollToBottom: function () {
                    this.$chatHistory.scrollTop(this.$chatHistory[0].scrollHeight);
                },
                getCurrentTime: function () {
                    return new Date().toLocaleTimeString().
                        replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3");
                },
                getRandomItem: function (arr) {
                    return arr[Math.floor(Math.random() * arr.length)];
                }

            };

            chat.init();

            var searchFilter = {
                options: { valueNames: ['name'] },
                init: function () {
                    var userList = new List('people-list', this.options);
                    var noItems = $('<li id="no-items-found">No items found</li>');

                    userList.on('updated', function (list) {
                        if (list.matchingItems.length === 0) {
                            $(list.list).append(noItems);
                        } else {
                            noItems.detach();
                        }
                    });
                }
            };

            searchFilter.init();

        })();

    </script>
    <script>
        var people;

        $(document).ready(function () {
            getChatPeople();

        });

        function getSeachSuggest() {
            $.ajax(
                {
                    url: "/student/GetChatUserList"
                }
            ).done(function (result) {
                people = new Array();
                result.forEach(function (item) {
                    item.UserName = item.FirstName + " " + item.LastName;
                    people.push(item);
                });

            });
        }

        function getChat(userId) {

            $.ajax(
                {
                    url: "/student/GetChat?id=" + userId
                }
            ).done(function (result) {
                document.getElementById("addedPeople").innerHTML = "";
                result.forEach(function (item) {
                    debugger

                    if (item) {



                        document.getElementById("addedPeople").innerHTML
                            += '<li>'
                            + '<div class="message-data">'
                            + '<span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>'
                            + '<span class="message-data-time">10:12 AM, Today</span>'
                            + '</div>'
                            + '<div class="message my-message">'
                            + 'Are we meeting today? Project has been already finished and I have results to show you.'
                            + '</div>'
                            + '</li>'

                        document.getElementById("addedPeople").innerHTML
                            += '<li class="clearfix">'
                            + '<div class="message-data align-right">'
                            + '<span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;'
                            + '<span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>'
                            + '</div>'
                            + '<div class="message other-message float-right">'
                            + 'Are we meeting today? Project has been already finished and I have results to show you.'
                            + '</div>'
                            + '</li>'

                    }

                });


            });

        }

        function getChatPeople(value) {

            if (value) {

                $.ajax(
                    {
                        url: "/student/AddChatRoom?id=" + value
                    }
                ).done(function (result) {
                    document.getElementById("addedPeople").innerHTML = "";

                    $("#recieverId").val(result[0].UserId);
                    $("#chatRoomId").val(result[0].ChatRoomId);




                    result.forEach(function (item) {

                        document.getElementById("addedPeople").innerHTML
                            += '<li class="clearfix">'
                            + '<a class="chatPerson" data-id="' + item.UserId + '" href="">'
                            + '<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />'
                            + '<div class="about">'
                            + '<div style="color:aliceblue" class="name">' + item.FirstName + ' ' + item.LastName + '</div>'
                            + '<div class="status">'
                            + '<i class="fa fa-circle online"></i> online'
                            + '</div>'
                            + '</div>'
                            + '</a>'
                            + '</li>'

                    });


                    getChat(result[0].UserId)
                    getSeachSuggest();
                });








            }
            else {
                $.ajax(
                    {
                        url: "/student/GetChatPeople"
                    }
                ).done(function (result) {

                    $("#recieverId").val(result[0].UserId);

                    result.forEach(function (item) {

                        document.getElementById("addedPeople").innerHTML
                            += '<li class="clearfix">'
                            + '<a class="chatPerson" data-id="' + item.UserId + '" href="">'
                            + '<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />'
                            + '<div class="about">'
                            + '<div style="color:aliceblue" class="name">' + item.FirstName + ' ' + item.LastName + '</div>'
                            + '<div class="status">'
                            + '<i class="fa fa-circle online"></i> online'
                            + '</div>'
                            + '</div>'
                            + '</a>'
                            + '</li>'

                    });

                    getSeachSuggest();
                });
            }




        }

        function matchPeople(input) {
            var reg = new RegExp(input.split("").join("\\w*").replace(/\W/, ""), "i");
            var res = [];
            if (input.trim().length === 0) {
                return res;
            }
            for (var i = 0, len = people.length; i < len; i++) {
                if (people[i].UserName.match(reg)) {
                    res.push(people[i]);
                }
            }
            return res;
        }

        function changeInput(val) {
            var autoCompleteResult = matchPeople(val);
            document.getElementById("result").innerHTML = "";
            for (var i = 0, limit = 10, len = autoCompleteResult.length; i < len && i < limit; i++) {
                document.getElementById("result").innerHTML += "<a data-id='" + autoCompleteResult[i].UserId + "' class='userSelected list-group-item list-group-item-action' href='#' onclick='setSearch(\"" + autoCompleteResult[i].UserId + "\")'>" + autoCompleteResult[i].UserName + "</a>";
            }
        }

        function setSearch(value) {
            debugger
            getChatPeople(value);
            document.getElementById("result").innerHTML = "";
        }

        $(document).on('click', '.chatPerson', function (e) {
            debugger;
            e.preventDefault();
            var usertId = $(this).attr('data-id');

            getChat(usertId);

            $("#recieverId").val(usertId);
        });

        $(document).on('click', '.messageSendBtn', function (e) {
            debugger;
            e.preventDefault();
            var usertId = $(this).attr('data-id');

            var message = $('#message-to-send').val();
            var recieverId = $('#recieverId').val();
            var chatRoomId = $('#chatRoomId').val();


            var dataObject = JSON.stringify({
                'Email': $('#inpEmail').val(),
                'Name': $('#inpName').val(),
                'PhoneNumber': $('#inpPhone').val(),
                'Message': $('#inpMessage').val()
            });

            $.ajax({
                url: '/student/addchat',
                type: 'POST',
                contentType: 'application/json',
                done: submissionSucceeded,
                fail: submissionFailed,
                data: dataObject
            }).done(function (result) {

                debugger

            });

            $("#recieverId").val(usertId);
        });

    </script>
</body>
</html>