@using Restaurent.Models
@model IEnumerable<CartedItemsModel>

@foreach (var c in Model)
{
    <div class='cart-item mycart' style='margin-left:0'>
        <div class='img-wrap'>
            <img src="@Url.Content(c.Image)" alt='' />
        </div>
        <small>@c.Name</small>
        <div class='cart-item-border'>
        </div>
    </div>
}
