@using Restaurent.Models
@model IEnumerable<FeaturedRecipesModel>



@foreach (var m in Model)
{
        <div class="col-mdm-4 col-lgm-4 col-xl-4 col-smm-6" style="margin-top:10px;margin-bottom:10px;">
            <div class="card border-dark mb-3 btn-social" style="width: 20rem;">
                <div>
                    <a class="imglink" style="width:20rem;background-color:white" href="#"><img class="card-img-top" src="@Url.Content(m.ImageUrl)" alt="Card image cap"></a>

                    <div class="card-body text-dark bg-warning">
                        <div class="border-dark mb-3"><h5 class="card-title" style="opacity: 1">@m.Title</h5></div>
                        <p class="card-text"><small>@m.Description</small></p>
                        <button type="button" class="btn btn-warning">Order Now!</button>
                    </div>
                </div>
            </div>
        </div>


        }


