@using Restaurant.ClassLibrary.ViewModel;

@model TestMgtVM

@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/_TeacherShared.cshtml";
}

@section myLink{

    <link rel="stylesheet" type="text/css" href="~/Content/Admincss/datatables.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="~/Content/Admincss/DataTable.css" rel="stylesheet" />
}

<div style="margin:100px"
     class="row">
    <div id="admin" class="col s12">
        <div class="card material-table">
            <div class="table-header">
                <span class="table-title">Material Datatable</span>
                <div class="actions">
                    <a href="#addEmployeeModal" data-toggle="modal" class="modal-trigger waves-effect btn-flat nopadding"><i class="material-icons">person_add</i></a>
                    <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                </div>
            </div>
            <table id="datatable">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Grades Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.TestList)
                    {
                        <tr>
                            <td data-studentid="@m.SubjectId">@m.SubjectName</td>
                            <td data-totalmarks="@m.TotalMarks">@m.TotalMarks %</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section myScript{

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/AdminJavascript/dataTable.js" type="text/javascript"></script>
}