@using Restaurant.ClassLibrary.PakClassified
@using Restaurent.Models
@model CartItemModel
@{
    ViewBag.Title = "ByCategory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    List<FeaturedRecipesModel> objCategory = (List<FeaturedRecipesModel>)ViewBag.Advertisements;
    List<CartedItemsModel> objCartedItems = (List<CartedItemsModel>)ViewBag.CartedItems;
    List<SelectListItem> categories = new AdvertisementsHandler().GetCategories().ToSelectItemList();

    ChefDetailExtrasModel m = ViewBag.ExtraNutrition;
    List<string> cList = new List<string>();
    Session.Add(WebUtil.Cart_IdList, cList);
}
@section myLink{
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="~/Content/maxcdnStyleSheet.css" rel="stylesheet" />
    <link href="~/Content/fontRobotoStyleSheet.css" rel="stylesheet" />
    <link href="~/Content/DetailCardStyleSheet.css" rel="stylesheet" />
    <link href="~/Content/MyStyleSheet.css" rel="stylesheet" />
    <link href="~/Content/ByCategoryStyleSheet.css" rel="stylesheet" />

    <script src="~/Scripts/ajaxLibsJavaScript.js"></script>
    <script src="~/Scripts/libsJavaScript.js"></script>
    <script>
        $(function () {

            $(".btn-default").click(function (e) {
                e.preventDefault();
                dataModal = $(this).attr("data-modal");
                $("#" + dataModal).css({ "display": "block" });
            });
            //$("#yourModal").modal("hide");
            $(".close-modal, .modal-sandbox").click(function () {
                $(".modal").fadeToggle(500);
            });
        });
    </script>

}

<div class="container-fluid col-lgm-12 col-mdm-12 col-smm-12 col-xsm-12" id="" style="margin-top:130px; margin-bottom:200px; height:auto">
  

    <div id="extrasdiv" class="hidden"></div>

    <div id="extvalues"></div>

   
    <div >

        <div id="sidebar" class="col-lgm-2 col-mdm-2 col-smm-2 col-xsm-2" style="width:21%">
            <div class="cart-icon-top">
            </div>

            <div class="cart-icon-bottom">
            </div>
            <div id="checkout">
                <a href="/Products/CheckOut">Check Out</a>
            </div>
            <h3 style="margin-right:30px"></h3>
            <div id="cart">
                @Html.Partial("~/Views/Shared/_CartedItemsPartialView.cshtml", objCartedItems)
                <span class="empty">No items in cart.</span>
            </div>

            <h3>List</h3>
            <div class="checklist categories">
                <div id="divResult"></div>
                <div id="cartbutton"></div>
            </div>
        </div>

        <div class="col-lgm-10 col-mdm-10 col-smm-10 col-xsm-10"  style=" width:79%">

            <div class="container-fluid" style="width:100%">
                <div class="input-group">
                    @*<span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>*@
                    @Html.DropDownList("Category", categories, " - Select Category - ", new { @class = "form-control", style = "height:40px; width:100%; color:rgb(255, 0, 110);font-size: 22px" })
                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <div class="row">
                    @using (Html.BeginForm("AddToCart", "Products", FormMethod.Post, new { id = "cartform", enctype = "multipart/form-data" }))
            {
                        <div id="prodId">
                        </div>
                        <div id="remove">
                            @Html.Partial("~/Views/Shared/_CategoryPartialView.cshtml", objCategory)

                        </div>
                        <div id="mycategories"></div>
                        <div id="details">

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section myScript{

    <script src="~/Scripts/ajaxLibs1112JavaScript.js"></script>
    <script src="~/Scripts/ByCategory.js"></script>
}